<nav-container>
    <nav-link {% if active == 'home' %}active {% endif %}href="#home">Home</nav-link>
    <nav-link {% if active == 'language' %}active {% endif %}href="#language">Language</nav-link>
    <nav-link {% if active == 'translation' %}active {% endif %}href="#translation">Translation</nav-link>
</nav-container>
